<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to learn more, have a specific question, or just want to meet up for a cappuccino or beer? Feel free to reach out:</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="tel:7194286895">
                <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>719.428.6895</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
