<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kaskaskia Cowboys
                            </div>
                            <div class="project-name">
                                <p>Our organization selected OCC Strategy &amp; Development to address several website issues. They have been very helpful and offered many ideas which improved communication for our members. Updates are done promptly and accurately with professional results. We have received numerous compliments on our website as well. Highly recommend this company.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Meagan Patrick, Event Coordinator
                            </div>
                            <div class="project-name">
                                <p>Nicole’s innate ability to identify potential connections is uncanny, thanks to her insight and planning, our annual golf event netted an additional $50,000.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Malek Asfeer, 35 Films
                            </div>
                            <div class="project-name">
                                <p>One of the many things I appreciated while working with Nicole was the contagious passion she puts into any project. She loves what she does, it comes naturally and it shows throughout her work.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gwen Cupples, Source Song
                            </div>
                            <div class="project-name">
                                <p>My talents are very niche. OCC Strategy and Development helped narrow my focus, tailor my branding, provided insights for marketing and expanded my business reach and clientele potential. I am grateful for the insight and will continue to be mindful of my message.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
