<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money-check-edit-alt wow bounceIn text-primary"></i>
                    <h3>Developing Sponsorship/Fundraising Outlines</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-browser wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Website Generation</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-typewriter wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Content Production</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marked-alt wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Marketing Planning</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-drafting-compass wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Brand Concept and Design</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-photo-video wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Social Media Strategy</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-holding-seedling wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Intensifying Fundraising</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ruler wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Market Research</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Diversifying Revenue Streams</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-search wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Research and Development</h3>
                </div>
            </div>
        </div>
    </div>
</section>
